# cd/backend/AssignmentSystem.Api 

# appsettings.Development.json 

{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=YOUR_DB_HOST;Port=5432;Database=YOUR_DB_NAME;Username=YOUR_DB_USER;Password=YOUR_DB_PASSWORD;SSL Mode=Require;"  # cloud db credential provide on submission description
  },
  "Jwt__SecretKey": "YourSuperSecretKeyAtLeast32CharactersLong!@#",
  "Seed__AdminEmail": "admin@example.com",
  "Seed__AdminPassword": "AdminPassword123!",
  "Seed__TeacherEmail": "teacher@example.com",
  "Seed__TeacherPassword": "TeacherPassword123!",
  "Seed__StudentEmail": "student@example.com",
  "Seed__StudentPassword": "StudentPassword123!",
  "Cookie__Secure": "false",
  "Cookie__SameSite": "Lax"
}


# cd/frontend 
# .env.development 

NEXT_PUBLIC_SERVERDOMEN_URL =  "http://localhost:5221/api/v1" # change with our running port
